**/cache_folder/**

spikeinterface/core/tests/*.raw
spikeinterface/core/tests/*.json
spikeinterface/core/tests/*.pkl
spikeinterface/core/tests/*.npz

spikeinterface/core/tests/*/*.json
spikeinterface/core/tests/*/*.raw
spikeinterface/core/tests/*/*.npy

spikeinterface/core/tests/*/*/*.json
spikeinterface/core/tests/*/*/*.raw
spikeinterface/core/tests/*/*/*.npy


spikeinterface/extractors/tests/*/*/*.json
spikeinterface/extractors/tests/*/*/*.raw
spikeinterface/extractors/tests/*.npz
spikeinterface/extractors/tests/*.npy
spikeinterface/extractors/tests/extractor_testing_files/*

spikeinterface/toolkit/*/tests/*/*.json
spikeinterface/toolkit/*/tests/*/*.raw
spikeinterface/toolkit/*/tests/*/*.npy
spikeinterface/toolkit/*/tests/*/*.npz
spikeinterface/toolkit/*/tests/*/*/*.json
spikeinterface/toolkit/*/tests/*/*/*.raw
spikeinterface/toolkit/*/tests/*/*/*.npy
spikeinterface/toolkit/*/tests/*/*/*.npz

spikeinterface/toolkit/*/tests/*_output/*

spikeinterface/exporters/tests/*/*

spikeinterface/sorters/tests/*/*


spikeinterface/widgets/tests/mearec_test/*

examples/modules_gallery/**/*.raw
examples/modules_gallery/**/*.npy
examples/modules_gallery/**/*.json
examples/modules_gallery/**/*.pkl
examples/modules_gallery/**/*.npz
examples/modules_gallery/**/*.csv
examples/modules_gallery/**/*.zarr


.vscode/*

# MauroToro: My absolute mess of envs
bin/
DATA/
etc/
include/
share/
dist_metrics.pxd
pyvenv.cfg

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# Pycharm
.idea

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# PyCharm configuration
.idea

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# documentation files

examples/tutorials/**/*.raw
examples/tutorials/**/*.npy
examples/tutorials/**/*.json
examples/tutorials/**/*.pkl
examples/tutorials/**/*.npz
examples/tutorials/**/*.csv
examples/tutorials/*.png
examples/tutorials/*.svg

doc/_build/*
doc/tutorials/*
doc/sources/*

examples/getting_started/tmp_*
examples/getting_started/phy
examples/modules/widgets/tmp_*
examples/modules/sorters/tmp_*
examples/modules/sorters/my_sorter_output/*
examples/modules/extractors/sample_mountainsort_dataset/*
examples/modules/extractors/firings_true.mda
examples/modules/extractors/circular_layout.csv
examples/modules/comparison/tmp_*
examples/modules/comparison/a_study_folder/*
examples/modules/toolkit/phy/*
examples/modules/toolkit/tmp_*

# Files and folders generated during tests
test_folder/

# Mac OS
.DS_Store
test_data.json
