pytest
pytest-cov

# some version are forced because of
# numba and hdbscan and numpy internal API

# tridesclous
numpy==1.21
numba
hdbscan

# zarr is needed for testing
zarr

# for widget colors
distinctipy

# CurtationSorting
networkx

# neo is from master because of several IO (spikeglx, ...)
git+https://github.com/NeuralEnsemble/python-neo.git

# recent datalad need a too recent version for git-annex
# so we use an old one here
# datalad ==0.14.4
datalad==0.16.2

# lxml for neuroscope
lxml

## install sorters ##
# python based only
# no GPU (no pykilosort, no yass)

## mountainsort4
# have some problems with dask
# temporary removed from tests
# pybind11
# isosplit5
# mountainsort4

## klusta
# is removed from test
# do not work anymore on python3.8
# Cython
# tqdm
# click
# klusta
# klustakwik2==0.2.7

## tridesclous
pyqt5
# hdbscan
loky
tridesclous>=1.6.4

# shybrid
# shybrid

## spyking-circus
spyking-circus

## herdingspikes
herdingspikes<=0.3.99

## mearec
mearec

## container packages for local testing
#docker
#spython

## sliding_nn
pymde
torch
pynndescent

## NWB extractor
pynwb>=2.1.0
