pytest

# optional dependancy for sub modules
h5py
pandas
sklearn
matplotlib


## install sorters ##

# MS4: do not work
# Do not work anumore
# ml_ms4alg==0.3.2

# klusta
# Do not work anumore
# Cython
# tqdm
# click
# klusta
# klustakwik2==0.2.7

# tridesclous
pyqt5
hdbscan
tridesclous

# spyking-circus
spyking-circus

