# optional dependancy
h5py
pandas

# sphinx-gallery
pillow
sphinx-gallery
matplotlib==3.2.2


## install sorters ##
# ms4
ml_ms4alg==0.3.2

# klusta
Cython

tqdm
click
klusta
klustakwik2==0.2.7

# tridesclous
pyqt5
hdbscan
tridesclous==1.6.0
