# sphinx-gallery
sphinx-gallery

# install spikeinterface locally to use autodoc
-e git+https://github.com/SpikeInterface/spikeextractors.git@master#egg=spikeextractors --install-option='--src modules'
-e git+https://github.com/SpikeInterface/spiketoolkit.git@master#egg=spiketoolkit --install-option='--src modules'
-e git+https://github.com/SpikeInterface/spikesorters.git@master#egg=spikesorters --install-option='--src modules'
-e git+https://github.com/SpikeInterface/spikecomparison.git@master#egg=spikecomparison --install-option='--src modules'
-e git+https://github.com/SpikeInterface/spikewidgets.git@master#egg=spikewidgets --install-option='--src modules'

# install sorters
# ms4
ml_ms4alg==0.3.1

# klusta
Cython
h5py
tqdm
click
klusta
klustakwik2

# tridesclous
tridesclous==1.2.1


