# main dependancy
numpy
neo
joblib
tqdm
probeinterface

# sphinx-gallery
pillow
sphinx-gallery
numpydoc
matplotlib


# optional dependancy for sub modules
h5py
pandas
sklearn
matplotlib
networkx
datalad
MEArec

## install sorters ##
# ms4
mountainsort4==1.0.0

# klusta
Cython
tqdm
click
klusta
klustakwik2==0.2.7

# tridesclous
pyqt5
hdbscan
tridesclous==1.6.0
