name: Testing core

on:
  pull_request:
    types: [synchronize, opened, reopened]
    branches:
      - main

concurrency:  # Cancel previous workflows on the same pull request
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    name: Test on ${{ matrix.os }} OS
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          git config --global user.email "CI@example.com"
          git config --global user.name "CI Almighty"
          python -m pip install -U pip  # Official recommended way
          pip install -e .[test_core]
      - name: Test core with pytest
        run: |
          pytest -m "core" -vv -ra --durations=0 --durations-min=0.001 | tee report.txt; test $? -eq 0 || exit 1
        shell: bash  # Necessary for pipeline to work on windows
      - name: Build test summary
        run: |
          pip install pandas
          pip install tabulate
          echo "# Timing profile of core tests in ${{matrix.os}}" >> $GITHUB_STEP_SUMMARY
          # Outputs markdown summary to standard output
          python ./.github/build_job_summary.py report.txt >> $GITHUB_STEP_SUMMARY
          cat $GITHUB_STEP_SUMMARY
          rm report.txt
        shell: bash  # Necessary for pipeline to work on windows
