name:  Release to PyPI

on:
  push:
    tags:
       - '*'

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies for testing
        run: |
          pip install pytest
          pip install zarr
          pip install setuptools wheel twine build
          pip install -e .
      - name: Test core with pytest
        run: |
          pytest -v spikeinterface/core
      - name: Publish on PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          python -m build --sdist --wheel
          twine upload dist/*
